In [2]:
import pandas as pd
import os
data_dir = 'data'
data_file_name = 'train_preprocess.csv'
data = pd.read_csv(os.path.join(data_dir, data_file_name), low_memory=True)
data

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,indrel_1mes,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,0,0,1,35,0,6,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-28,1050611,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-28,1050612,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-28,1050613,0,0,1,22,0,35,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-28,1050614,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13456816,2016-05-28,1166766,0,0,0,25,0,33,0,1,...,0,0,0,0,0,0,0,0,0,0
13456817,2016-05-28,1166765,0,0,0,22,0,33,0,1,...,0,0,0,0,0,0,0,0,0,0
13456818,2016-05-28,1166764,0,0,0,23,0,33,0,1,...,0,0,0,0,0,0,0,0,0,0
13456819,2016-05-28,1166763,0,0,1,47,0,33,0,1,...,0,0,0,0,0,0,0,0,0,0
13456820,2016-05-28,1166789,0,0,1,22,0,33,0,1,...,0,0,0,0,0,0,0,0,0,0

### 看讀進來ㄉ資料內容有哪些

In [3]:
for ft in data.columns:
    print(ft," : ", data[ft].unique()," : ",len(data[ft].unique()))

fecha_dato  :  ['2015-01-28' '2015-02-28' '2015-03-28' '2015-04-28' '2015-05-28'
 '2015-06-28' '2015-07-28' '2015-08-28' '2015-09-28' '2015-10-28'
 '2015-11-28' '2015-12-28' '2016-01-28' '2016-02-28' '2016-03-28'
 '2016-04-28' '2016-05-28']  :  17
ncodpers  :  [1375586 1050611 1050612 ... 1185089 1171168 1172945]  :  937917
ind_empleado  :  [0 1 2 3 4]  :  5
pais_residencia  :  [  0   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118]  :  118
sexo  :  [1 0]  :  2
age  :  [ 35  23  22  24  65  28  25  26  53  27  32  37  31  39  63  33  55  42
  58  38  50  30  45  44  36  29  60  57  67  47  34  48  46  54  84  15
  12   8   6  83  40  77  69  52  59  43  10   9  49  41  51  78  16  11
  73  62  66  17  68  82  95  96  56  61  79  72  14  19  13  86  64  20
  89  71   7  70  74  21  18  75   4  80  81   5  76  92  93  85  91  87
  90  94  99  98  88  97 100 101 106 103   3   2 102 104 111 107 109 105
 112 115 110 116 108 113 126 117 163 127 114 164]  :  120
ind_nuevo  :  [0 1]  :  2
antiguedad  :  [  6  35  34  33  31  21  16  27   9  22  13  29   8  11  10  28  24   7
  25  14  26  12  23   1  18   4   3  17  32  30  20  15  19 157  36  40
  38  37  39   5  47  44  42  46  45  43  41  57  48  52  49  50  56  58
  51  55  54  53  59  62  61  60  63   2 139 165 118 164 142  94 159 143
 105 151 162 137 150 128 122 156 119 160  79  95 132 161  98 127  72 155
 108 163 102 148 115 146 107  81 216 135  92 121 198 134 140 110 120 147
 116  64  77  85  99  78 100 113 154 166 133 124 141  66 117  86 193  80
 144  87 126 158 101 235  88 145 103 149 109 131  97  68  84 232 125 177
 112  96  69 171 167 104  76  82 152  70 138 169  65 129 190 114 111 176
 153  89 136  83 123 187 106 231 189 217 172 199 173 174 209 180 178  93
  91 168 130 225  67  73 183  74 206  71 179 184 192  90 194 182 188 213
 185 195 186 207 208  75 175 201 203 212 215 170 228 214 202 196 181 211
 191 205 200 227 218 219 226 224 210 242 223 237 204 233 220 222 241 197
 221 229 234 240 243 230 238 246 236 244 239 245   0 247 248 249 250 251
 252 253 254 255 256]  :  257
indrel  :  [0 1]  :  2
indrel_1mes  :  [1 3 2]  :  3
tiprel_1mes  :  [0 1 2]  :  3
indresi  :  [1 0]  :  2
indext  :  [0 1]  :  2
conyuemp  :  [0 1]  :  2
canal_entrada  :  [  0   1   2   3   4   5   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  21  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162]  :  162
indfall  :  [0 1]  :  2
tipodom  :  [1]  :  1
cod_prov  :  [29 13 50 45 24 20 10 17 49  8 37  9 22 31  5 40 27 25 28  3 42 41 39  7
 47 36 46 44 15 32 23 16 48 12 26  2  6 30 11  4 19 34 35 14 21 18 33 38
 52 43  1 53 51]  :  53
ind_actividad_cliente  :  [1 0]  :  2
renta  :  [ 87218.1   35548.74 122179.11 ...  54215.22  63902.46 102159.54]  :  519918
segmento  :  [2 3 1]  :  3
ind_ahor_fin_ult1  :  [0 1]  :  2
ind_aval_fin_ult1  :  [0 1]  :  2
ind_cco_fin_ult1  :  [1 0]  :  2
ind_cder_fin_ult1  :  [0 1]  :  2
ind_cno_fin_ult1  :  [0 1]  :  2
ind_ctju_fin_ult1  :  [0 1]  :  2
ind_ctma_fin_ult1  :  [0 1]  :  2
ind_ctop_fin_ult1  :  [0 1]  :  2
ind_ctpp_fin_ult1  :  [0 1]  :  2
ind_deco_fin_ult1  :  [0 1]  :  2
ind_deme_fin_ult1  :  [0 1]  :  2
ind_dela_fin_ult1  :  [0 1]  :  2
ind_ecue_fin_ult1  :  [0 1]  :  2
ind_fond_fin_ult1  :  [0 1]  :  2
ind_hip_fin_ult1  :  [0 1]  :  2
ind_plan_fin_ult1  :  [0 1]  :  2
ind_pres_fin_ult1  :  [0 1]  :  2
ind_reca_fin_ult1  :  [0 1]  :  2
ind_tjcr_fin_ult1  :  [0 1]  :  2
ind_valo_fin_ult1  :  [0 1]  :  2
ind_viv_fin_ult1  :  [0 1]  :  2
ind_nomina_ult1  :  [0 1]  :  2
ind_nom_pens_ult1  :  [0 1]  :  2
ind_recibo_ult1  :  [0 1]  :  2

### 算每個客戶（row）買了多少產品

In [4]:
target_cols = ['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1','ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_deme_fin_ult1','ind_dela_fin_ult1','ind_ecue_fin_ult1','ind_fond_fin_ult1','ind_hip_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1']
target = data[target_cols]
target_cnt = target.sum(axis=1)

In [5]:
print(target_cnt.unique(),len(target_cnt.unique()))

[ 1  2  0  3  4  7  5  6  8  9 10 12 11 13 14 15] 16

In [6]:
np_target_cnt = target_cnt.to_numpy()
print(np_target_cnt.shape)
cnt = dict()
for value in np_target_cnt:
    if value not in cnt:
        cnt[value] = 1
    else:
        cnt[value] += 1
print(cnt)

(13456821,)
{1: 7072406, 2: 1925867, 0: 2468430, 3: 769829, 4: 449776, 7: 141468, 5: 289807, 6: 210918, 8: 76138, 9: 33768, 10: 12682, 12: 1124, 11: 4343, 13: 230, 14: 26, 15: 9}

### 把沒買產品的客戶剔除

In [7]:
data_target_cnt = data.join(pd.DataFrame(target_cnt, columns = ['cnt']))
data_target_cnt

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,indrel_1mes,...,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,cnt
0,2015-01-28,1375586,0,0,1,35,0,6,0,1,...,0,0,0,0,0,0,0,0,0,1
1,2015-01-28,1050611,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,1
2,2015-01-28,1050612,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,1
3,2015-01-28,1050613,0,0,1,22,0,35,0,1,...,0,0,0,0,0,0,0,0,0,1
4,2015-01-28,1050614,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13456816,2016-05-28,1166766,0,0,0,25,0,33,0,1,...,0,0,0,0,0,0,0,0,0,1
13456817,2016-05-28,1166765,0,0,0,22,0,33,0,1,...,0,0,0,0,0,0,0,0,0,1
13456818,2016-05-28,1166764,0,0,0,23,0,33,0,1,...,0,0,0,0,0,0,0,0,0,1
13456819,2016-05-28,1166763,0,0,1,47,0,33,0,1,...,0,0,0,0,0,0,0,0,0,1
13456820,2016-05-28,1166789,0,0,1,22,0,33,0,1,...,0,0,0,0,0,0,0,0,0,1

In [8]:
filter_data = data_target_cnt[data_target_cnt['cnt'] !=0 ]
filter_data

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,indrel_1mes,...,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,cnt
0,2015-01-28,1375586,0,0,1,35,0,6,0,1,...,0,0,0,0,0,0,0,0,0,1
1,2015-01-28,1050611,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,1
2,2015-01-28,1050612,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,1
3,2015-01-28,1050613,0,0,1,22,0,35,0,1,...,0,0,0,0,0,0,0,0,0,1
4,2015-01-28,1050614,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13456816,2016-05-28,1166766,0,0,0,25,0,33,0,1,...,0,0,0,0,0,0,0,0,0,1
13456817,2016-05-28,1166765,0,0,0,22,0,33,0,1,...,0,0,0,0,0,0,0,0,0,1
13456818,2016-05-28,1166764,0,0,0,23,0,33,0,1,...,0,0,0,0,0,0,0,0,0,1
13456819,2016-05-28,1166763,0,0,1,47,0,33,0,1,...,0,0,0,0,0,0,0,0,0,1
13456820,2016-05-28,1166789,0,0,1,22,0,33,0,1,...,0,0,0,0,0,0,0,0,0,1

### 找age 指定範圍的客戶

In [27]:
filter_age_data = filter_data[(filter_data['age'] >= 30) & (filter_data['age'] < 40)]
filter_target = filter_age_data[target_cols]
filter_target

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13456617,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
13456640,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13456645,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13456651,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
13456699,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
import time
start = time.time()
association_data_list = []
for index, row in filter_target.iterrows():
    association_data = []
    for col_name in target_cols:
        if row[col_name] == 1:
            association_data.append(col_name)
    association_data_list.append(association_data)
end = time.time()
print(str(end-start)+'  seconds')

562.6452667713165  seconds

### 套Apriori

In [26]:
from apyori import apriori

association_rules = apriori(association_data_list, min_support=0.05, min_confidence=0.2, min_lift=3, max_length=2) 
association_results = list(association_rules)
print(len(association_results))
for item in association_results:
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])
    print("Support: " + str(item[1]))
    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

3
Rule: ind_cno_fin_ult1 -> ind_nom_pens_ult1
Support: 0.10537073501404177
Confidence: 0.6576939970422427
Lift: 5.869912860229682
=====================================
Rule: ind_nomina_ult1 -> ind_cno_fin_ult1
Support: 0.10449207527680042
Confidence: 0.652209654216416
Lift: 5.872738044543823
=====================================
Rule: ind_nomina_ult1 -> ind_nom_pens_ult1
Support: 0.11105716775880435
Confidence: 0.9911841983958698
Lift: 8.924990780861068
=====================================