In [1]:
import pandas as pd
import os

data_dir = 'data'
train_file_name = 'train_ver2.csv'
test_file_name = 'test_ver2.csv'
train_df = pd.read_csv(os.path.join(data_dir, train_file_name), low_memory=True)
test_df = pd.read_csv(os.path.join(data_dir, test_file_name), low_memory=True)

/Users/cmlab/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (5,8,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/cmlab/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Check all features' values to see exceptions and errors on data

In [2]:
for ft in train_df.columns:
    print(ft," : ",train_df[ft].unique()," : ",len(train_df[ft].unique()))

fecha_dato  :  ['2015-01-28' '2015-02-28' '2015-03-28' '2015-04-28' '2015-05-28'
 '2015-06-28' '2015-07-28' '2015-08-28' '2015-09-28' '2015-10-28'
 '2015-11-28' '2015-12-28' '2016-01-28' '2016-02-28' '2016-03-28'
 '2016-04-28' '2016-05-28']  :  17
ncodpers  :  [1375586 1050611 1050612 ... 1173729 1164094 1550586]  :  956645
ind_empleado  :  ['N' nan 'A' 'B' 'F' 'S']  :  6
pais_residencia  :  ['ES' nan 'CA' 'CH' 'CL' 'IE' 'AT' 'NL' 'FR' 'GB' 'DE' 'DO' 'BE' 'AR' 'VE'
 'US' 'MX' 'BR' 'IT' 'EC' 'PE' 'CO' 'HN' 'FI' 'SE' 'AL' 'PT' 'MZ' 'CN'
 'TW' 'PL' 'IN' 'CR' 'NI' 'HK' 'AD' 'CZ' 'AE' 'MA' 'GR' 'PR' 'RO' 'IL'
 'RU' 'GT' 'GA' 'NO' 'SN' 'MR' 'UA' 'BG' 'PY' 'EE' 'SV' 'ET' 'CM' 'SA'
 'CI' 'QA' 'LU' 'PA' 'BA' 'BO' 'AU' 'BY' 'KE' 'SG' 'HR' 'MD' 'SK' 'TR'
 'AO' 'CU' 'GQ' 'EG' 'ZA' 'DK' 'UY' 'GE' 'TH' 'DZ' 'LB' 'JP' 'NG' 'PK'
 'TN' 'TG' 'KR' 'GH' 'RS' 'VN' 'PH' 'KW' 'NZ' 'MM' 'KH' 'GI' 'SL' 'GN'
 'GW' 'OM' 'CG' 'LV' 'LT' 'ML' 'MK' 'HU' 'IS' 'LY' 'CF' 'GM' 'KZ' 'CD'
 'BZ' 'ZW' 'DJ' 'JM' 'BM' 'MT']  :  119
sexo  :  ['H' 'V' nan]  :  3
age  :  [' 35' ' 23' ' 22' ' 24' ' 65' ' 28' ' 25' ' 26' ' 53' ' 27' ' 32' ' 37'
 ' 31' ' 39' ' 63' ' 33' ' 55' ' 42' ' 58' ' 38' ' 50' ' 30' ' 45' ' 44'
 ' 36' ' 29' ' 60' ' 57' ' 67' ' 47' ' NA' ' 34' ' 48' ' 46' ' 54' ' 84'
 ' 15' ' 12' '  8' '  6' ' 83' ' 40' ' 77' ' 69' ' 52' ' 59' ' 43' ' 10'
 '  9' ' 49' ' 41' ' 51' ' 78' ' 16' ' 11' ' 73' ' 62' ' 66' ' 17' ' 68'
 ' 82' ' 95' ' 96' ' 56' ' 61' ' 79' ' 72' ' 14' ' 19' ' 13' ' 86' ' 64'
 ' 20' ' 89' ' 71' '  7' ' 70' ' 74' ' 21' ' 18' ' 75' '  4' ' 80' ' 81'
 '  5' ' 76' ' 92' ' 93' ' 85' ' 91' ' 87' ' 90' ' 94' ' 99' ' 98' ' 88'
 ' 97' '100' '101' '106' '103' '  3' '  2' '102' '104' '111' '107' '109'
 '105' '112' '115' '110' '116' '108' '113' 37 81 43 30 45 41 67 59 46 36
 47 69 39 44 40 38 34 42 31 35 48 60 54 51 33 62 50 11 57 55 85 80 70 32
 52 94 61 13 29 49 76 28 63 10 88 68 64 58 56 79 53 77 74 82 89 86 72 95
 66 71 78 75 27 22 23 65 21 26 98 19 84 83 90 12 14 87 93 18 92 99 17 97
 102 16 73 91 15 25 24 20 96 104 110 103 106 105 111 109 101 100 108 107 9
 113 2 112 3 8 7 6 126 115 117 163 116 5 4 127 114 164]  :  235
fecha_alta  :  ['2015-01-12' '2012-08-10' nan ... '2016-05-25' '2016-05-01' '2016-05-15']  :  6757
ind_nuevo  :  [ 0. nan  1.]  :  3
antiguedad  :  ['      6' '     35' '     34' '     NA' '     33' '     31' '     21'
 '     16' '     27' '      9' '     22' '     13' '     29' '      8'
 '     11' '     10' '     28' '     24' '      7' '     25' '     14'
 '     26' '     12' '     23' '      1' '     18' '      4' '      3'
 '     17' '     32' '     30' '     20' '     15' '     19' '    157'
 '     36' '      5' '     40' '     38' '     37' '     39' '      0'
 '      2' '     47' '     44' '     42' '     46' '     45' '     43'
 '     41' '     57' '     48' '     52' '     49' '     50' '     56'
 '     58' '     51' '     55' '     54' '     53' '     59' '     62'
 '     61' '     60' '     63' '    139' '    165' '    118' '    164'
 '    142' '     94' '    159' '    143' '    105' '    151' '    162'
 '    137' '    150' '    128' '    122' '    156' '    119' '    160'
 '     79' '     95' '    132' '    161' '     98' '    127' '     72'
 '    155' '    108' '    163' '    102' '    148' '    115' '    146'
 '    107' '     81' '    216' '    135' '     92' '    121' '    198'
 '    134' '     93' '    140' '    110' '    120' '    147' '    116'
 '     64' '     77' '     85' '     99' '     78' '    100' '    113'
 '    154' '    166' '    133' '    124' '    141' '     66' '    117'
 '     86' '    193' '     80' '    144' '     87' '    126' '    158'
 '    101' '    235' '     88' '    145' '    103' '    149' '    109'
 '    131' '     97' '     68' '     84' '    232' '    125' '    177'
 '    112' '     96' '     69' '    171' '    167' '    104' '     76'
 '     82' '    152' '     70' '    138' '    169' '     65' '    129'
 '    190' '    114' '    111' '    176' '    153' '     89' '    136'
 '     83' '    123' '    187' '    106' '    231' '    189' '    217'
 '    172' '    199' '    173' '    174' '    209' '    180' '    178'
 '     91' '    168' '    130' '    225' '     67' '     73' '    183'
 '     74' '    206' '     71' '    179' '    184' '    192' '     90'
 '    194' '    182' '    188' '    213' '    185' '    195' '    186'
 '    207' '    208' '     75' '    175' '    201' '    203' '    212'
 '    215' '    170' '    228' '    214' '    202' '    196' '    181'
 '    211' '    191' '    205' '    200' '    227' '    218' '    219'
 '    226' '    224' '    210' '    242' '    223' '    237' '    204'
 '    233' '    220' '    222' '    241' '    197' '    221' '    229'
 '    234' '    240' '    243' '    230' '    238' '    246' '    236'
 '    244' '    239' '    245' '-999999' 105 81 93 30 79 69 104 18 35 7
 103 34 87 95 100 102 8 36 14 94 86 26 32 42 96 22 10 72 83 54 20 62 59 9
 61 12 80 98 92 33 63 78 88 77 57 11 84 101 68 40 99 55 82 19 97 15 76 43
 5 56 89 38 37 53 58 60 146 3 31 29 6 70 45 51 64 52 41 67 23 17 48 47 66
 49 108 25 16 21 74 0 39 13 1 50 65 91 71 75 44 2 144 4 46 85 27 24 111
 110 107 109 73 106 90 112 129 113 28 134 195 127 126 122 120 125 121 136
 117 123 118 160 124 145 116 115 204 163 128 141 119 135 188 114 165 173
 172 131 202 151 130 175 147 199 179 162 148 156 174 152 150 196 168 161
 157 177 180 184 164 225 140 133 132 149 227 138 171 190 143 189 176 169
 237 232 210 200 154 181 155 207 193 201 208 142 185 182 153 198 178 186
 166 238 159 170 183 241 137 214 139 221 187 191 167 206 205 234 158 197
 211 212 194 229 216 235 -999999 220 236 215 228 218 192 231 209 217 223
 222 230 203 226 233 219 224 240 213 239 242 243 244 246 245 247 248 249
 250 251 252 253 254 255 256]  :  507
indrel  :  [ 1. nan 99.]  :  3
ult_fec_cli_1t  :  [nan '2015-07-02' '2015-07-23' '2015-07-06' '2015-07-30' '2015-07-20'
 '2015-07-08' '2015-07-22' '2015-07-17' '2015-07-09' '2015-07-03'
 '2015-07-29' '2015-07-13' '2015-07-21' '2015-07-27' '2015-07-14'
 '2015-07-01' '2015-07-24' '2015-07-15' '2015-07-16' '2015-07-28'
 '2015-07-07' '2015-07-10' '2015-08-21' '2015-08-19' '2015-08-25'
 '2015-08-14' '2015-08-24' '2015-08-17' '2015-08-18' '2015-08-10'
 '2015-08-13' '2015-08-27' '2015-08-03' '2015-08-06' '2015-08-20'
 '2015-08-26' '2015-08-28' '2015-08-05' '2015-08-11' '2015-08-07'
 '2015-08-04' '2015-08-12' '2015-09-17' '2015-09-01' '2015-09-18'
 '2015-09-03' '2015-09-02' '2015-09-14' '2015-09-16' '2015-09-29'
 '2015-09-28' '2015-09-09' '2015-09-22' '2015-09-08' '2015-09-11'
 '2015-09-21' '2015-09-04' '2015-09-25' '2015-09-07' '2015-09-10'
 '2015-09-23' '2015-09-24' '2015-09-15' '2015-10-08' '2015-10-07'
 '2015-10-13' '2015-10-26' '2015-10-29' '2015-10-05' '2015-10-28'
 '2015-10-09' '2015-10-22' '2015-10-20' '2015-10-15' '2015-10-06'
 '2015-10-01' '2015-10-21' '2015-10-16' '2015-10-27' '2015-10-19'
 '2015-10-23' '2015-10-02' '2015-10-14' '2015-11-23' '2015-11-24'
 '2015-11-12' '2015-11-04' '2015-11-13' '2015-11-25' '2015-11-19'
 '2015-11-20' '2015-11-03' '2015-11-16' '2015-11-17' '2015-11-11'
 '2015-11-27' '2015-11-18' '2015-11-10' '2015-11-26' '2015-11-02'
 '2015-11-05' '2015-11-06' '2015-11-09' '2015-12-21' '2015-12-18'
 '2015-12-28' '2015-12-24' '2015-12-04' '2015-12-29' '2015-12-16'
 '2015-12-11' '2015-12-30' '2015-12-15' '2015-12-01' '2015-12-09'
 '2015-12-10' '2015-12-17' '2015-12-02' '2015-12-14' '2015-12-03'
 '2015-12-22' '2015-12-23' '2015-12-07' '2016-01-08' '2016-01-14'
 '2016-01-13' '2016-01-28' '2016-01-05' '2016-01-19' '2016-01-12'
 '2016-01-18' '2016-01-21' '2016-01-22' '2016-01-07' '2016-01-20'
 '2016-01-26' '2016-01-15' '2016-01-27' '2016-01-25' '2016-01-11'
 '2016-01-04' '2016-02-23' '2016-02-19' '2016-02-18' '2016-02-26'
 '2016-02-12' '2016-02-24' '2016-02-09' '2016-02-08' '2016-02-11'
 '2016-02-05' '2016-02-04' '2016-02-03' '2016-02-15' '2016-02-22'
 '2016-02-10' '2016-02-16' '2016-02-01' '2016-02-17' '2016-02-02'
 '2016-02-25' '2016-03-07' '2016-03-29' '2016-03-10' '2016-03-18'
 '2016-03-14' '2016-03-22' '2016-03-08' '2016-03-21' '2016-03-30'
 '2016-03-01' '2016-03-23' '2016-03-02' '2016-03-24' '2016-03-03'
 '2016-03-09' '2016-03-11' '2016-03-04' '2016-03-16' '2016-03-28'
 '2016-03-15' '2016-03-17' '2016-04-22' '2016-04-01' '2016-04-06'
 '2016-04-12' '2016-04-05' '2016-04-15' '2016-04-13' '2016-04-19'
 '2016-04-04' '2016-04-18' '2016-04-26' '2016-04-11' '2016-04-25'
 '2016-04-27' '2016-04-08' '2016-04-07' '2016-04-21' '2016-04-28'
 '2016-04-20' '2016-04-14' '2016-05-23' '2016-05-05' '2016-05-17'
 '2016-05-19' '2016-05-12' '2016-05-06' '2016-05-03' '2016-05-20'
 '2016-05-02' '2016-05-16' '2016-05-18' '2016-05-04' '2016-05-13'
 '2016-05-24' '2016-05-27' '2016-05-10' '2016-05-30' '2016-05-25'
 '2016-05-11' '2016-05-09' '2016-05-26']  :  224

indrel_1mes  :  [1.0 nan 3.0 2.0 '1.0' '1' '3' '3.0' '2.0' '4.0' 'P' '4' 4.0 '2']  :  14
tiprel_1mes  :  ['A' 'I' nan 'P' 'R' 'N']  :  6
indresi  :  ['S' nan 'N']  :  3
indext  :  ['N' 'S' nan]  :  3
conyuemp  :  [nan 'N' 'S']  :  3
canal_entrada  :  ['KHL' 'KHE' 'KHD' 'KFA' 'KFC' 'KAT' nan 'KAZ' 'RED' 'KHC' 'KHK' 'KGN'
 'KHM' 'KHO' 'KDH' 'KEH' 'KAD' 'KBG' 'KGC' 'KHF' 'KFK' 'KHN' 'KHA' 'KAF'
 'KGX' 'KFD' 'KAG' 'KFG' 'KAB' 'KCC' 'KAE' 'KAH' 'KAR' 'KFJ' 'KFL' 'KAI'
 'KFU' 'KAQ' 'KFS' 'KAA' 'KFP' 'KAJ' 'KFN' 'KGV' 'KGY' 'KFF' 'KAP' 'KDE'
 'KFV' '013' 'K00' 'KAK' 'KCK' 'KCL' 'KAY' 'KBU' 'KDR' 'KAC' 'KDT' 'KCG'
 'KDO' 'KDY' 'KBQ' 'KDA' 'KBO' 'KCI' 'KEC' 'KBZ' 'KES' 'KDX' 'KAS' '007'
 'KEU' 'KCA' 'KAL' 'KDC' 'KAW' 'KCS' 'KCB' 'KDU' 'KDQ' 'KCN' 'KCM' '004'
 'KCH' 'KCD' 'KCE' 'KEV' 'KBL' 'KEA' 'KBH' 'KDV' 'KFT' 'KEY' 'KAO' 'KEJ'
 'KEO' 'KEI' 'KEW' 'KDZ' 'KBV' 'KBR' 'KBF' 'KDP' 'KCO' 'KCF' 'KCV' 'KAM'
 'KEZ' 'KBD' 'KAN' 'KBY' 'KCT' 'KDD' 'KBW' 'KCU' 'KBX' 'KDB' 'KBS' 'KBE'
 'KCX' 'KBP' 'KBN' 'KEB' 'KDS' 'KEL' 'KDG' 'KDF' 'KEF' 'KCP' 'KDM' 'KBB'
 'KDW' 'KBJ' 'KFI' 'KBM' 'KEG' 'KEN' 'KEQ' 'KAV' 'KFH' 'KFM' 'KAU' 'KED'
 'KFR' 'KEK' 'KFB' 'KGW' 'KFE' 'KGU' 'KDI' 'KDN' 'KEE' 'KCR' 'KCQ' 'KEM'
 'KCJ' 'KHQ' 'KDL' '025' 'KHP' 'KHR' 'KHS']  :  163
indfall  :  ['N' nan 'S']  :  3
tipodom  :  [ 1. nan]  :  2
cod_prov  :  [29. 13. 50. 45. 24. 20. 10. 17. 49.  8. 37.  9. 22. 31.  5. 40. 27. 25.
 28.  3. 42. 41. 39.  7. 47. 36. 46. 44. 15. 32. 23. 16. 48. 12. 26.  2.
  6. 30. 11. nan  4. 19. 34. 35. 14. 21. 18. 33. 38. 52. 43.  1. 51.]  :  53
nomprov  :  ['MALAGA' 'CIUDAD REAL' 'ZARAGOZA' 'TOLEDO' 'LEON' 'GIPUZKOA' 'CACERES'
 'GIRONA' 'ZAMORA' 'BARCELONA' 'SALAMANCA' 'BURGOS' 'HUESCA' 'NAVARRA'
 'AVILA' 'SEGOVIA' 'LUGO' 'LERIDA' 'MADRID' 'ALICANTE' 'SORIA' 'SEVILLA'
 'CANTABRIA' 'BALEARS, ILLES' 'VALLADOLID' 'PONTEVEDRA' 'VALENCIA'
 'TERUEL' 'CORUÑA, A' 'OURENSE' 'JAEN' 'CUENCA' 'BIZKAIA' 'CASTELLON'
 'RIOJA, LA' 'ALBACETE' 'BADAJOZ' 'MURCIA' 'CADIZ' nan 'ALMERIA'
 'GUADALAJARA' 'PALENCIA' 'PALMAS, LAS' 'CORDOBA' 'HUELVA' 'GRANADA'
 'ASTURIAS' 'SANTA CRUZ DE TENERIFE' 'MELILLA' 'TARRAGONA' 'ALAVA' 'CEUTA']  :  53
ind_actividad_cliente  :  [ 1.  0. nan]  :  3
renta  :  [ 87218.1   35548.74 122179.11 ...  63867.66  34341.18  89018.37]  :  520995
segmento  :  ['02 - PARTICULARES' '03 - UNIVERSITARIO' nan '01 - TOP']  :  4
ind_ahor_fin_ult1  :  [0 1]  :  2
ind_aval_fin_ult1  :  [0 1]  :  2
ind_cco_fin_ult1  :  [1 0]  :  2
ind_cder_fin_ult1  :  [0 1]  :  2
ind_cno_fin_ult1  :  [0 1]  :  2
ind_ctju_fin_ult1  :  [0 1]  :  2
ind_ctma_fin_ult1  :  [0 1]  :  2
ind_ctop_fin_ult1  :  [0 1]  :  2
ind_ctpp_fin_ult1  :  [0 1]  :  2
ind_deco_fin_ult1  :  [0 1]  :  2
ind_deme_fin_ult1  :  [0 1]  :  2
ind_dela_fin_ult1  :  [0 1]  :  2
ind_ecue_fin_ult1  :  [0 1]  :  2
ind_fond_fin_ult1  :  [0 1]  :  2
ind_hip_fin_ult1  :  [0 1]  :  2
ind_plan_fin_ult1  :  [0 1]  :  2
ind_pres_fin_ult1  :  [0 1]  :  2
ind_reca_fin_ult1  :  [0 1]  :  2
ind_tjcr_fin_ult1  :  [0 1]  :  2
ind_valo_fin_ult1  :  [0 1]  :  2
ind_viv_fin_ult1  :  [0 1]  :  2
ind_nomina_ult1  :  [ 0.  1. nan]  :  3
ind_nom_pens_ult1  :  [ 0.  1. nan]  :  3
ind_recibo_ult1  :  [0 1]  :  2

## Data Processing

In [17]:
import numpy as np

ind_empleado_dict = {'N':0,'A':1,'B':2,'F':3,'S':4}
pais_residencia_dict = {'LV': 102,'CA': 2,'GB': 9,'EC': 19,'BY': 64,'ML': 104,'MT': 118,
 'LU': 59,'GR': 39,'NI': 33,'BZ': 113,'QA': 58,'DE': 10,'AU': 63,'IN': 31,
 'GN': 98,'KE': 65,'HN': 22,'JM': 116,'SV': 53,'TH': 79,'IE': 5,'TN': 85,
 'PH': 91,'ET': 54,'AR': 13,'KR': 87,'GA': 45,'FR': 8,'SG': 66,'LB': 81,
 'MA': 38,'NZ': 93,'SK': 69,'CN': 28,'GI': 96,'PY': 51,'SA': 56,'PL': 30,
 'PE': 20,'GE': 78,'HR': 67,'CD': 112,'MM': 94,'MR': 48,'NG': 83,'HU': 106,
 'AO': 71,'NL': 7,'GM': 110,'DJ': 115,'ZA': 75,'OM': 100,'LT': 103,'MZ': 27,
 'VE': 14,'EE': 52,'CF': 109,'CL': 4,'SL': 97,'DO': 11,'PT': 26,'ES': 0,
 'CZ': 36,'AD': 35,'RO': 41,'TW': 29,'BA': 61,'IS': 107,'AT': 6,'ZW': 114,
 'TR': 70,'CO': 21,'PK': 84,'SE': 24,'AL': 25,'CU': 72,'UY': 77,'EG': 74,'CR': 32,
 'GQ': 73,'MK': 105,'KW': 92,'GT': 44,'CM': 55,'SN': 47,'KZ': 111,'DK': 76,
 'LY': 108,'AE': 37,'PA': 60,'UA': 49,'GW': 99,'TG': 86,'MX': 16,'KH': 95,
 'FI': 23,'NO': 46,'IT': 18,'GH': 88, 'JP': 82,'RU': 43,'PR': 40,'RS': 89,
 'DZ': 80,'MD': 68,-1: 1,'BG': 50,'CI': 57,'IL': 42,'VN': 90,'CH': 3,'US': 15,'HK': 34,
 'CG': 101,'BO': 62,'BR': 17,'BE': 12,'BM': 117}
sexo_dict = {'V':0,'H':1}
ind_nuevo_dict = {0:0, 1:1}
indrel_dict =  {1:0, 99:1}
indrel_1mes_dict = {'1.0':1, '1':1, 1:1, '2.0':2, '2':2, 2:2, '3.0':3, '3':3, 3:3, '4.0':4, '4':4, 4:4, 'P':5}
tiprel_1mes_dict = {'A':0,'I':1,'P':2,'N':3,'R':4}
indresi_dict = {'N':0,'S':1}
indext_dict = {'N':0,'S':1}
conyuemp_dict = {'N':0,'S':1}
canal_entrada_dict = {'KAI': 35,'KBG': 17,'KGU': 149,'KDE': 47,'KAJ': 41,'KCG': 59,
 'KHM': 12,'KAL': 74,'KFH': 140,'KCT': 112,'KBJ': 133,'KBL': 88,'KHQ': 157,'KFB': 146,'KFV': 48,'KFC': 4,
 'KCK': 52,'KAN': 110,'KES': 68,'KCB': 78,'KBS': 118,'KDP': 103,'KDD': 113,'KBX': 116,'KCM': 82,
 'KAE': 30,'KAB': 28,'KFG': 27,'KDA': 63,'KBV': 100,'KBD': 109,'KBW': 114,'KGN': 11,
 'KCP': 129,'KAK': 51,'KAR': 32,'KHK': 10,'KDS': 124,'KEY': 93,'KFU': 36,'KBY': 111,
 'KEK': 145,'KCX': 120,'KDQ': 80,'K00': 50,'KCC': 29,'KCN': 81,'KDZ': 99,'KDR': 56,
 'KBE': 119,'KFN': 42,'KEC': 66,'KDM': 130,'KBP': 121,'KAU': 142,'KDU': 79,
 'KCH': 84,'KHF': 19,'KCR': 153,'KBH': 90,'KEA': 89,'KEM': 155,'KGY': 44,'KBM': 135,
 'KEW': 98,'KDB': 117,'KHD': 2,'RED': 8,'KBN': 122,'KDY': 61,'KDI': 150,'KEU': 72,
 'KCA': 73,'KAH': 31,'KAO': 94,'KAZ': 7,'004': 83,'KEJ': 95,'KBQ': 62,'KEZ': 108,
 'KCI': 65,'KGW': 147,'KFJ': 33,'KCF': 105,'KFT': 92,'KED': 143,'KAT': 5,'KDL': 158,
 'KFA': 3,'KCO': 104,'KEO': 96,'KBZ': 67,'KHA': 22,'KDX': 69,'KDO': 60,'KAF': 23,'KAW': 76,
 'KAG': 26,'KAM': 107,'KEL': 125,'KEH': 15,'KAQ': 37,'KFD': 25,'KEQ': 138,'KEN': 137,
 'KFS': 38,'KBB': 131,'KCE': 86,'KAP': 46,'KAC': 57,'KBO': 64,'KHR': 161,'KFF': 45,
 'KEE': 152,'KHL': 0,'007': 71,'KDG': 126,'025': 159,'KGX': 24,'KEI': 97,'KBF': 102,
 'KEG': 136,'KFP': 40,'KDF': 127,'KCJ': 156,'KFR': 144,'KDW': 132,-1: 6,'KAD': 16,
 'KBU': 55,'KCU': 115,'KAA': 39,'KEF': 128,'KAY': 54,'KGC': 18,'KAV': 139,'KDN': 151,
 'KCV': 106,'KCL': 53,'013': 49,'KDV': 91,'KFE': 148,'KCQ': 154,'KDH': 14,'KHN': 21,
 'KDT': 58,'KBR': 101,'KEB': 123,'KAS': 70,'KCD': 85,'KFL': 34,'KCS': 77,'KHO': 13,
 'KEV': 87,'KHE': 1,'KHC': 9,'KFK': 20,'KDC': 75,'KFM': 141,'KHP': 160,'KHS': 162,
 'KFI': 134,'KGV': 43}
indfall_dict = {'N':0,'S':1}
segmento_dict = {'01 - TOP':1,'02 - PARTICULARES':2,'03 - UNIVERSITARIO':3}

target_cols = ['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1','ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_deme_fin_ult1','ind_dela_fin_ult1','ind_ecue_fin_ult1','ind_fond_fin_ult1','ind_hip_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1']

def processData(df):
    
    data = df.copy()
    
    # 丟掉這些column
    data.drop(columns=["ult_fec_cli_1t", "fecha_alta", "nomprov"],inplace=True)
    
    #  conyuemp 'N' 取代nan
    data["conyuemp"] = data["conyuemp"].fillna('N')
    
    # renta 平均值取代nan
    data["renta"] = data["renta"].fillna(data["renta"].mean())

    # ind_empleado. 'N' 取代nan
    data["ind_empleado"] = data["ind_empleado"].fillna('N')

    # age 去掉空格 nan取代 'NA'  等等再被drop
    data["age"] = data["age"].replace(' ', '', regex=True)
    data["age"] = data["age"].replace('.', '')
    data["age"] = data["age"].replace('NA',np.nan)
    
    # ind_nuevo '1' 取代nan
    data["ind_nuevo"] = data["ind_nuevo"].fillna('1')

    # antiguedad  用0取代 'NA' 和 負數
    data["antiguedad"] = data["antiguedad"].replace(' ', '', regex=True)
    data["antiguedad"] = data.loc[:,"antiguedad"].replace("NA",0)
    data["antiguedad"] = data["antiguedad"].astype(int)
    data.loc[data.antiguedad<0,"antiguedad"] = 0
    
    # infgall 'S' 取代nan
    data["indfall"] = data["indfall"].fillna('S')
    
    # tipodom 0取代nan 
    data["tipodom"] = data["tipodom"].fillna(0).astype(int)
    
    # ind_actividad_cliente 0取代nan
    data["ind_actividad_cliente"] = data["ind_actividad_cliente"].fillna(0).astype(int)
    
    #cod_prov 種類有1～52 和nan  所以猜nan原本是53
    data["cod_prov"] = data["cod_prov"].fillna(53).astype(int)
    
    
    #data.loc[data.ndrel_1mes=='P',"ndrel_1mes"] = 5
    
    
    #把含nan的row都丟掉
    data = data.dropna()
    
    #根據上面的dict map對應的value
    data['ind_empleado'] = data['ind_empleado'].map(lambda x: ind_empleado_dict[x]).astype(int)
    data['pais_residencia'] = data['pais_residencia'].map(lambda x: pais_residencia_dict[x]).astype(int)
    data['sexo'] = data['sexo'].map(lambda x: sexo_dict[x]).astype(int)
    data["ind_nuevo"] = data["ind_nuevo"].map(lambda x: ind_nuevo_dict[x]).astype(int)
    data["indrel"] = data["indrel"].map(lambda x: indrel_dict[x]).astype(int)
    data["indrel_1mes"] = data["indrel_1mes"].map(lambda x: indrel_1mes_dict[x]).astype(int)
    data['tiprel_1mes'] = data['tiprel_1mes'].map(lambda x: tiprel_1mes_dict[x]).astype(int)
    data['indresi'] = data['indresi'].map(lambda x: indresi_dict[x]).astype(int)
    data['indext'] = data['indext'].map(lambda x: indext_dict[x]).astype(int)
    data['conyuemp'] = data['conyuemp'].map(lambda x: conyuemp_dict[x]).astype(int)
    data['canal_entrada'] = data['canal_entrada'].map(lambda x: canal_entrada_dict[x]).astype(int)
    data['indfall'] = data['indfall'].map(lambda x: indfall_dict[x]).astype(int)
    data['segmento'] = data['segmento'].map(lambda x: segmento_dict[x]).astype(int)
    
    #data["indrel_1mes"] = data["indrel_1mes"].astype(int)
    data["age"] = data["age"].astype(int)
    data["ind_nomina_ult1"] = data["ind_nomina_ult1"].astype(int)
    data["ind_nom_pens_ult1"] = data["ind_nom_pens_ult1"].astype(int)
    
    return data

train_df_preprocess = processData(train_df)

In [18]:
for ft in train_df_preprocess.columns:
    print(ft," : ",train_df_preprocess[ft].unique()," : ",len(train_df_preprocess[ft].unique()))

fecha_dato  :  ['2015-01-28' '2015-02-28' '2015-03-28' '2015-04-28' '2015-05-28'
 '2015-06-28' '2015-07-28' '2015-08-28' '2015-09-28' '2015-10-28'
 '2015-11-28' '2015-12-28' '2016-01-28' '2016-02-28' '2016-03-28'
 '2016-04-28' '2016-05-28']  :  17
ncodpers  :  [1375586 1050611 1050612 ... 1185089 1171168 1172945]  :  937917
ind_empleado  :  [0 1 2 3 4]  :  5
pais_residencia  :  [  0   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118]  :  118
sexo  :  [1 0]  :  2
age  :  [ 35  23  22  24  65  28  25  26  53  27  32  37  31  39  63  33  55  42
  58  38  50  30  45  44  36  29  60  57  67  47  34  48  46  54  84  15
  12   8   6  83  40  77  69  52  59  43  10   9  49  41  51  78  16  11
  73  62  66  17  68  82  95  96  56  61  79  72  14  19  13  86  64  20
  89  71   7  70  74  21  18  75   4  80  81   5  76  92  93  85  91  87
  90  94  99  98  88  97 100 101 106 103   3   2 102 104 111 107 109 105
 112 115 110 116 108 113 126 117 163 127 114 164]  :  120
ind_nuevo  :  [0 1]  :  2
antiguedad  :  [  6  35  34  33  31  21  16  27   9  22  13  29   8  11  10  28  24   7
  25  14  26  12  23   1  18   4   3  17  32  30  20  15  19 157  36  40
  38  37  39   5  47  44  42  46  45  43  41  57  48  52  49  50  56  58
  51  55  54  53  59  62  61  60  63   2 139 165 118 164 142  94 159 143
 105 151 162 137 150 128 122 156 119 160  79  95 132 161  98 127  72 155
 108 163 102 148 115 146 107  81 216 135  92 121 198 134 140 110 120 147
 116  64  77  85  99  78 100 113 154 166 133 124 141  66 117  86 193  80
 144  87 126 158 101 235  88 145 103 149 109 131  97  68  84 232 125 177
 112  96  69 171 167 104  76  82 152  70 138 169  65 129 190 114 111 176
 153  89 136  83 123 187 106 231 189 217 172 199 173 174 209 180 178  93
  91 168 130 225  67  73 183  74 206  71 179 184 192  90 194 182 188 213
 185 195 186 207 208  75 175 201 203 212 215 170 228 214 202 196 181 211
 191 205 200 227 218 219 226 224 210 242 223 237 204 233 220 222 241 197
 221 229 234 240 243 230 238 246 236 244 239 245   0 247 248 249 250 251
 252 253 254 255 256]  :  257
indrel  :  [0 1]  :  2
indrel_1mes  :  [1 3 2]  :  3
tiprel_1mes  :  [0 1 2]  :  3
indresi  :  [1 0]  :  2
indext  :  [0 1]  :  2
conyuemp  :  [0 1]  :  2
canal_entrada  :  [  0   1   2   3   4   5   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  21  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162]  :  162
indfall  :  [0 1]  :  2
tipodom  :  [1]  :  1
cod_prov  :  [29 13 50 45 24 20 10 17 49  8 37  9 22 31  5 40 27 25 28  3 42 41 39  7
 47 36 46 44 15 32 23 16 48 12 26  2  6 30 11  4 19 34 35 14 21 18 33 38
 52 43  1 53 51]  :  53
ind_actividad_cliente  :  [1 0]  :  2
renta  :  [ 87218.1   35548.74 122179.11 ...  54215.22  63902.46 102159.54]  :  519918
segmento  :  [2 3 1]  :  3
ind_ahor_fin_ult1  :  [0 1]  :  2
ind_aval_fin_ult1  :  [0 1]  :  2
ind_cco_fin_ult1  :  [1 0]  :  2
ind_cder_fin_ult1  :  [0 1]  :  2
ind_cno_fin_ult1  :  [0 1]  :  2
ind_ctju_fin_ult1  :  [0 1]  :  2
ind_ctma_fin_ult1  :  [0 1]  :  2
ind_ctop_fin_ult1  :  [0 1]  :  2
ind_ctpp_fin_ult1  :  [0 1]  :  2
ind_deco_fin_ult1  :  [0 1]  :  2
ind_deme_fin_ult1  :  [0 1]  :  2
ind_dela_fin_ult1  :  [0 1]  :  2
ind_ecue_fin_ult1  :  [0 1]  :  2
ind_fond_fin_ult1  :  [0 1]  :  2
ind_hip_fin_ult1  :  [0 1]  :  2
ind_plan_fin_ult1  :  [0 1]  :  2
ind_pres_fin_ult1  :  [0 1]  :  2
ind_reca_fin_ult1  :  [0 1]  :  2
ind_tjcr_fin_ult1  :  [0 1]  :  2
ind_valo_fin_ult1  :  [0 1]  :  2
ind_viv_fin_ult1  :  [0 1]  :  2
ind_nomina_ult1  :  [0 1]  :  2
ind_nom_pens_ult1  :  [0 1]  :  2
ind_recibo_ult1  :  [0 1]  :  2

In [19]:
train_df_preprocess.to_csv(os.path.join(data_dir,'train_preprocess.csv'), index=False)

In [20]:
train_df_preprocess

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,indrel_1mes,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,0,0,1,35,0,6,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-28,1050611,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-28,1050612,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-28,1050613,0,0,1,22,0,35,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-28,1050614,0,0,0,23,0,35,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647303,2016-05-28,1166766,0,0,0,25,0,33,0,1,...,0,0,0,0,0,0,0,0,0,0
13647304,2016-05-28,1166765,0,0,0,22,0,33,0,1,...,0,0,0,0,0,0,0,0,0,0
13647305,2016-05-28,1166764,0,0,0,23,0,33,0,1,...,0,0,0,0,0,0,0,0,0,0
13647306,2016-05-28,1166763,0,0,1,47,0,33,0,1,...,0,0,0,0,0,0,0,0,0,0
13647307,2016-05-28,1166789,0,0,1,22,0,33,0,1,...,0,0,0,0,0,0,0,0,0,0